/* variables */
/* base */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background-image: radial-gradient(circle, #f2ffe9, #edffe2, #e7ffdc, #e1ffd5, #dbffcf);
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  text-align: center;
  padding: 0px; }

/* header */
/* header */
.headerNav {
  grid-area: header;
  font-family: 'Open Sans', sans-serif;
  background-color: #00882d;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .headerNav .logoImgName {
    display: flex;
    align-items: center; }
    .headerNav .logoImgName:hover {
      transform: scale(1.2); }
    .headerNav .logoImgName .logo {
      height: 6rem; }
  .headerNav .nav-link {
    text-decoration: none;
    color: black; }

/* Main */
/* banner */
.bannerPrincipal {
  text-align: center; }

/* infoFotos */
.categoriaServicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40rem; }
  .categoriaServicio .servicioBox {
    width: min-content; }
    .categoriaServicio .servicioBox:hover {
      transform: scale(1.3); }
    .categoriaServicio .servicioBox .serImg {
      width: 23rem; }

/* video */
.video {
  display: flex;
  justify-content: center; }
  .video .videoSource {
    width: 650px;
    height: 366px; }
  .video .videoSocials {
    display: flex;
    justify-content: center; }
    .video .videoSocials .videoTextLogo {
      font-size: 13pt; }

/* Contacto */
/* Contacto */
.sectionform .divLogoContacto {
  margin-top: 2rem;
  text-align: center; }
  .sectionform .divLogoContacto .logoContacto {
    height: 70px;
    width: 70px; }

.sectionform .form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .sectionform .form .formTitle {
    margin: 1rem;
    font-size: 25pt;
    text-align: center; }
  .sectionform .form .formTextArea {
    width: 600px;
    height: 200px; }
  .sectionform .form .formButton {
    text-align: end; }

/* footer */
/* footer */
.footer {
  grid-area: footer;
  display: flex;
  background-color: #00882d;
  justify-content: center;
  align-items: center; }
  .footer .textoFooter {
    margin-top: 1rem; }
    .footer .textoFooter:hover {
      transform: scale(1.15); }
