/* variables */
/* base */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background-color: #FFF7E7;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  text-align: center;
  width: 100%; }

/* header */
/* header */
.headerNav {
  grid-area: header;
  font-family: 'Open Sans', sans-serif;
  background-color: #00882d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #131715; }
  .headerNav .logoImgName {
    display: flex;
    align-items: center; }
    .headerNav .logoImgName .logo {
      height: 6rem; }
  .headerNav .nav-link {
    text-decoration: none;
    color: #131715; }

/* Main */
/* banner */
.bannerPrincipal {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/Banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: white; }
  .bannerPrincipal .bannerTittle {
    font-weight: bold;
    text-shadow: 0px 0px 4px black; }
  .bannerPrincipal .bannerText {
    font-size: 1.4rem;
    text-shadow: 0px 0px 4px black; }

/* infoFotos */
.servicioTittle {
  margin-top: 3rem;
  font-weight: bold; }

.container {
  margin: 0;
  max-width: 100%; }

.categoriaServicio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #131715;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: auto; }
  .categoriaServicio .servicioBox {
    width: min-content;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 300ms;
    margin-top: 1rem; }
    .categoriaServicio .servicioBox:hover {
      transform: scale(1.05); }
    .categoriaServicio .servicioBox .serImg {
      width: 23rem;
      margin: 1rem 0.2rem 0.58rem 0.2rem; }

/* video */
.video {
  display: flex;
  align-items: center;
  margin: 5rem auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3rem;
  width: fit-content; }
  .video .vidtext {
    width: 20rem;
    margin-left: 5rem; }
    .video .vidtext .vidTittle {
      font-weight: bold;
      font-size: 1.59rem;
      margin-bottom: 1rem; }
    .video .vidtext .videoSocials {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto; }
      .video .vidtext .videoSocials .videoSocialsIcon {
        width: 30px; }
      .video .vidtext .videoSocials .videoTextLogo {
        color: #131715;
        font-size: 13pt; }
  .video .videoSource {
    width: 650px;
    height: 366px; }

@media (max-width: 1140px) {
  .video {
    flex-direction: column; }
    .video .yt {
      width: 384;
      height: 216; }
    .video .vidtext {
      margin-top: 1rem;
      margin-left: 0rem; }
    .video .videoSocials {
      width: auto;
      display: block;
      justify-items: center; } }

/* Contacto */
/* Contacto */
.sectionform .divLogoContacto {
  margin-top: 2rem;
  text-align: center; }
  .sectionform .divLogoContacto .logoContacto {
    height: 70px;
    width: 70px; }

.sectionform .form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .sectionform .form .formTitle {
    margin: 1rem;
    font-size: 25pt;
    text-align: center; }
  .sectionform .form .formTextArea {
    width: 600px;
    height: 200px; }
  .sectionform .form .formButton {
    text-align: end;
    margin: 1rem; }

.sectionform .form form {
  margin: 1rem;
  padding: 1rem;
  background: rgba(150, 150, 150, 0.1);
  border-radius: 16px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); }

@media (max-width: 705px) {
  .form .formTextArea {
    width: 200px;
    height: 300px; }
  .form form {
    width: 30rem; } }

/* Nosotros*/
/* nosotros */
.nosotros {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
  background: rgba(150, 150, 150, 0.1);
  border-radius: 16px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); }

.imagenNosotros {
  height: 500px; }

.nosotrosTitle {
  font-size: 25pt;
  margin-bottom: 0.5rem; }

.nosotrosText {
  width: 700px; }

/* Tienda*/
/* tienda */
.tiendaProductos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0rem; }

.TiendaCard {
  width: min-content;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 300ms;
  margin-top: 1rem;
  padding: 1rem; }
  .TiendaCard:hover {
    transform: scale(1.05); }

.tiendaImg {
  width: 350px;
  margin-bottom: 0.2rem; }

.tiendaText {
  width: 350px; }

.tiendaTitle {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3rem; }

.proveedores {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 5rem; }

.proveedoresImg {
  width: 200px;
  margin: 0rem 3rem; }

/* Sucursales */
/* sucursales */
.ubicacion {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ubiImage {
  width: 700px;
  margin-left: -2rem; }

.UbiText {
  width: 400px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: -4rem; }

.ubiMap {
  margin-left: -4rem; }

/* footer */
/* footer */
.footer {
  grid-area: footer;
  display: flex;
  background-color: #00882d;
  justify-content: center;
  align-items: center; }
  .footer .footerLinks {
    width: 311px; }
  .footer .footerLogo {
    align-self: center; }
  .footer .socialLinks, .footer .socialLinks2 {
    display: flex;
    align-items: center;
    margin: 1rem;
    text-decoration: none; }
    .footer .socialLinks .socialIcons, .footer .socialLinks2 .socialIcons {
      width: 1.6rem;
      height: 1.6rem; }
    .footer .socialLinks .textoFooter, .footer .socialLinks2 .textoFooter {
      color: #131715;
      font-size: 1.4rem;
      margin-bottom: 0.2rem;
      margin-right: 0.3rem;
      margin-left: 0.3rem; }
  .footer .socialLinks2 {
    justify-content: end; }
