@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FCF6F0;
    font-family: 'Open Sans', sans-serif;
}

/* inicia el nav */

#header {
    font-family: 'Open Sans', sans-serif;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    list-style-type: none;
    margin-right: 7rem;
}

.navList li {
    display: inline-block;
    margin-left: 1rem;
}

.logoImgName {
    display: flex;
    align-items: center;
    margin-left: 7rem;
}

.logo {
    height: 6rem;
}

/* termina el nav */

/* inicia el baner */

#banerPrincipal {
    text-align:center;
    margin-top: 1.5rem;
}

/* termina el baner */

/* inicia seccion info + fotos */

#categoriaServicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    height: 40rem;
}

.serImg {
    width: 23rem;
}

.servicioBox {
    margin: 3rem;
    width: min-content;
}

/* termina seccion info + fotos */

/* inicia seccion video */

#video{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.videoLink {
    margin: 1rem 3rem;
}

.videoText {
    width: 15rem;
    margin-right: 1rem;
    margin-top: 4rem;
}

.videoSource {
    width: 650px; 
    height: 366px;
}

/* termina seccion video */
/* inicia seccion footer */

#footer {
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.textoFooter {
    margin: 1rem 0rem;
}

/* termina seccion footer */

/* Comienza pagina contacto */
/* formulario */

.divLogoContacto{
    margin-top: 2rem;
    text-align: center;
}
.logoContacto{
    height: 70px;
    width: 70px;
}

.form{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.formTitle{
    margin: 1rem;
    font-size: 25pt;
    text-align: center;
}

.formText{
    margin: 1rem;
    font-size: 15pt;
}

.formButton{
    text-align: end;
}

.formTextArea{
    width: 600px;
    height: 200px;
}

.formImput{
    width: 400px;
}

/* termina pagina contacto */

/* comienza pagina nosotros */

.nosotros{
    display: flex;
    justify-content: space-around;
    margin:4rem;
}

.imagenNosotros{
    height: 500px;
}

.nosotrosTitle{
    font-size: 25pt;
    margin-bottom: 0.5rem;
}

.nosotrosText{
    width: 700px;
}

/* termina pagina nosotros */

/* comienza pagina sucursales */

.ubicacion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ubiImage{
    width: 700px;
    margin-left: -2rem;
}

.ubiImage2{
    width: 450px;
    margin-left: -2rem;
}

.UbiText{
    width: 400px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: -4rem;
}

.ubiMap{
    margin-left: -4rem;
}

/* termina pagina sucursales */
/* comienza pagina tienda */

.tiendaProductos{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0rem;
}

.tiendaImg{
    width: 350px;
    margin-bottom: 0.2rem;
}

.tiendaText{
    width: 350px;
}

.tiendaTitle{
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.proveedores{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.proveedoresImg{
    width: 200px;
}
/* termina pagina tienda */