@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    background-color: #FCF6F0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

.body > * {
    text-align: center;
    padding: 0px;
}

/* inicia header */

.headerNav {
    grid-area: header;
    font-family: 'Open Sans', sans-serif;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navList {
    list-style-type: none;
}

.navList li {
    display: inline-block;
    margin: 0.5rem;
}

.logoImgName {
    display: flex;
    align-items: center;
}

.logo {
    height: 6rem;
}

/* termina header */
/* inicia banner */

.banner {
    grid-area: banner;
}

.banerPrincipal {
    text-align:center;
}

.bannerImg {
    width: 100%;
}

/* termina banner */
/* inicia info + fotos */

.infotos {
    grid-area: infotos;
}

.categoriaServicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    height: 40rem;
}

.serImg {
    width: 23rem;
}

.servicioBox {
    margin: 3rem;
    width: min-content;
}

/* termina info + foto */
/* inicia seccion video */

.video {
    grid-area: video;
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.videoLink {
    margin: 1rem 3rem;
}

.videoText {
    width: 15rem;
    margin-right: 1rem;
    margin-top: 4rem;
}

.videoSource {
    width: 650px; 
    height: 366px;
}

.videoSocials {
    display: flex;
    justify-content: center;
}
/* termina seccion video */
/* inicia seccion footer */

.footer {
    grid-area: footer;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.textoFooter {
    margin-top: 1rem;
}

/* termina seccion footer *
/* Comienza pagina contacto */
/* formulario */

.divLogoContacto{
    margin-top: 2rem;
    text-align: center;
}
.logoContacto{
    height: 70px;
    width: 70px;
}

.form{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.formTitle{
    margin: 1rem;
    font-size: 25pt;
    text-align: center;
}

.formText{
    margin: 1rem;
    font-size: 15pt;
}

.formButton{
    text-align: end;
}

.formTextArea{
    width: 600px;
    height: 200px;
}

.formImput{
    width: 400px;
}

/* termina pagina contacto */
/* inicia estructura y grids base */

.body {
    display: grid;
    gap: 0px;
    grid-template-areas: 
        "header"
        "banner"
        "infotos"
        "video"
        "footer";
}

@media (max-width: 767px) {
    body{
        font-size: 18pt;
    }
    .body {
        grid-template-columns: auto;
        grid-template-rows: 200px auto auto auto 200px ;
    }
    /* servicio */
    .categoriaServicio {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 2rem;
        height: auto;
    }
    .serImg {
        width: 23rem;
        margin: 0rem;
    }
    
    .servicioBox {
        display: flex;
        justify-content: space-around;
    }

    .insideServicio {
        margin: 0rem 3rem;
        width: 350px;
    }

    /* video */
    .video {
        grid-area: video;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem;
    }
    
    .videoLink {
        margin: 0rem 1rem;
    }
    
    .videoText {
        width: auto;
        margin-right: 1rem;
        margin-top: 2rem;
    }
    
    .videoSource {
        width: 700px; 
        height: 394px;
    }
    /* contacto */
    .sectionform{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .logoContacto{
        height: 90px;
        width: 90px;
    }
    .formText{
        margin: 1.5rem;
        font-size: 20pt;
    }
    .formImput{
        width: 400px;
        height: 40px;
    }
} 

@media (min-width: 768px) {
    .body {
        grid-template-columns: auto;
        grid-template-rows: 150px auto auto auto 200px ;
    }
} 

 /* termina estructura y grids base */

