/* footer */
.footer {
    grid-area: footer;
    display: flex;
    background-color: $orogreen;
    justify-content: center;
    align-items: center;
    .textoFooter {
        margin-top: 1rem;
        &:hover{
            transform: scale(1.15);
        }
    }
}