/* banner */
.bannerPrincipal{
    text-align: center;
}
/* infoFotos */
.categoriaServicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:$oroblack;
    margin-top: 5rem;
    margin-bottom: 5rem;
    .servicioBox {
        width: min-content;
        &:hover{
            transform: scale(1.1);
        }
        .serImg {
            width: 23rem;
        }
    }
}
/* video */
.video {
    display: flex;
    justify-content: center;
    .videoSource {
        width: 650px; 
        height: 366px;
    }
    .videoSocials {
    @extend .video;
    margin: 1rem;
        .videoTextLogo {
            color:$oroblack;
            font-size: 13pt;
        }
    }
}