/* sucursales */

.ubicacion{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ubiImage{
    width: 700px;
    margin-left: -2rem;
}

.UbiText{
    width: 400px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: -4rem;
}

.ubiMap{
    margin-left: -4rem;
}