@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body{
    background-image: radial-gradient(circle, #f2ffe9, #edffe2, #e7ffdc, #e1ffd5, #dbffcf);
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    text-align: center;
    padding: 0px;
}