@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html {
    height: 100%;
}
body{
    // background-image: linear-gradient(to left bottom, #fae9d7, #ffe3a9, #f5e27b, #d8e64d, #a8eb12);
    // background-repeat: no-repeat;
    // background: linear-gradient(to left bottom, #fae9d7, #ffe3a9, #f5e27b, #d8e64d, #a8eb12);
    // background-attachment: fixed;
    background-color: #FFF7E7;
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    text-align: center;
    width: 100%;
}